body {

  margin: 0;
  padding: 0;
  background-color: #72C2C9;
}
header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-family: "Afacad Flux", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #004d80;
  font-family: "Afacad Flux", sans-serif;
}
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
}
nav a:hover {
  background-color: #0066cc;
  color: white;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: "Afacad Flux", sans-serif;
}

.image img {
  width:37%;
  height: 60%;
  margin-bottom: 20px;
  position:absolute;
  left:100px;
  top:500px;
  border-radius: 50%;
}


.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  position:absolute;
  top: 650px;
  font-family: "Afacad Flux", sans-serif;

}

button {
  background-color: #004d80;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #0066cc;
}

.test-form{
  position: absolute;
  background-color: whitesmoke; 
  padding: 20px;

  color:azure;
  font-size: 30px;
  font-family: "Afacad Flux", sans-serif;
  top: 400px;
  right: 20px;
  width: 40%;
  height:100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(250, 248, 248, 0.1);
  border-radius: 8px;
}

.test-form form{
  position:absolute;
  right:20px;
  text-align: left;
  display:flex;
  flex-direction:column;
}

label {
  margin: 10px 0 5px;
  color: #010101;
  
} 

input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"], 
textarea {
    padding: 10px;
    font-size: 16px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:hover,
input[type="text"]:hover,
input[type="text"]:hover,
input[type="text"]:hover,
input[type="text"]:hover,
textarea:hover {
  background-color: #8fc5ff;
  scale: 1.1; 
}

.test-form h3{
  color:#010101;
  position:absolute;
  top:-150px;
}


