body {

  margin: 0;
  padding: 0;
  background-color: #72C2C9;
}
header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-family: "Afacad Flux", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #004d80;
  font-family: "Afacad Flux", sans-serif;
}
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
}
nav a:hover {
  background-color: #0066cc;
  color: white;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  font-family: "Afacad Flux", sans-serif;
}

.image img {
  width:37%;
  height: 60%;
  margin-bottom: 20px;
  position:absolute;
  left:100px;
  top:500px;
  border-radius: 50%;
}


.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  position:absolute;
  top: 1300px;
  font-family: "Afacad Flux", sans-serif;

}

button {
  background-color: #004d80;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #0066cc;
}

.test-form{
  position: absolute;
  background-color: whitesmoke; 
  padding: 50px;

  color:azure;
  font-size: 30px;
  font-family: "Afacad Flux", sans-serif;
  top: 400px;
  right: 20px;
  width: 40%;
  height:200%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(250, 248, 248, 0.1);
  border-radius: 8px;
}

.test-form form{
  position:absolute;
  right:20px;
  text-align: left;
  display:flex;
  flex-direction:column;
}

p {
  margin: 10px 0 5px;
  color: #010101;
  
} 

label {
  margin: 10px 0 5px;
  color: #010101;
  
} 


input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"], 
textarea {
    padding: 10px;
    font-size: 16px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:hover,
input[type="text"]:hover,
input[type="text"]:hover,
input[type="text"]:hover,
input[type="text"]:hover,
textarea:hover {
  background-color: #8fc5ff;
  scale: 1.1; 
}

.test-form h3{
  color:#010101;
  position:absolute;
  top:-150px;
}


.radio-input1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input1 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-input1 label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.radio-input1 label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  border: 2px solid transparent;
}
.radio-input1 label:hover::before {
  transition: all 0.2s ease;
  background-color: #2a2e3c;
}

.radio-input1 .label:has(input:checked)::before {
  background-color: #2d3750;
  border-color: #435dd8;
  height: 50px;
}
.radio-input1 .label .text {
  color: #1b1313;
}

.radio-input1 .label input[type="radio"] {
  background-color: #202030;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-input1 .label input[type="radio"]:checked {
  background-color: #435dd8;
  -webkit-animation: puls 0.7s forwards;
  animation: pulse 0.7s forwards;
}

.radio-input1 .label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.radio-input1 .label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

