<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stroke Prediction</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/index2.css"/>

</head>

<body>
  <div id = "header-wrapper">
    <div id="header" class="container">

      <!--Home Logo-->
      <h1 id="logo"><a href="index2.html"><strong>STROKE</strong></br>Prediction</a></h1>

      <!--Navigation bar-->
    <nav>
    <a href="test2.html">TEST</a>
    <a href="dashboard.html">DASHBOARD</a>
  </nav>

    </div>


    <!--Body Section-->
    <section id="hero" class="container">
      <header>

        <h2><strong>WELCOME</strong></h2>
      </header>

      <p>
          <strong>TRACK</strong>, <strong>ANALYZE</strong> and <strong>MONITOR</strong> your likelyhood of experiencing a stroke <br/>with a 98% succession rate.
     </p>
     <ul>
      <li><a href="test2.html" class="button">Begin Test</a></li>
     </ul>

    </section>

  </div>

  <!--Table Images-->
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <section class="col-6 col-12-narrower feature">
          <div class="image-wrapper first">
            <a href="#" class="image featured second "><img src="/static/images/barchart1.jpeg" alt=""></a>
          </div>

        <div class="image-wrapper second" > 
            <a href="#" class="image featured second"><img src="/static/images/stem chart.gif" alt=""></a>
        </div>
        
        <div class="image-wrapper third" > 
            <a href="#" class="image featured second"><img src="/static/images/ui-ux.gif" alt=""></a>
        </div>    

          <header>
            <h2> Visualizations That Shows
              The Accuracy Of Our ML Model
            </h2>
          </header>
          <ul class="actions">
					  <a href="dashboard.html" class="button">Go To Dashboard</a>
           
					</ul>
        </section>
      </div>
    </div>
  </div>


</body>


</html>